<div #print>
  <essence-ng2-print [mode]="'popup'" [popTitle]="''" [btnText]="''" [btnClass]="{'btn': true, 'btn-info': true}" [printHTML]="print" style="float:right"
                     [printStyle]="printStyle" [printCSS]="printCSS" [showBtn]="printBtnBoolean" (click)="beforePrint()" (printComplete)="printComplete()">
  </essence-ng2-print>


  <table class="table table-bordered">
    <thead>
    <tr>
      <th></th>
      <th></th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <td></td>
      <td></td>

    </tr>
    </tbody>
  </table>


</div>
