<div class="centered-content">

    <div class="modal-box">

      <h1 class="title">
        Edit task
      </h1>

      <input #taskTitleInput [value] = "task.title" class="input has-background-light is-medium" type="text" placeholder="Enter task name...">
      <input #taskDesInput value = "{{ task.description }}" class="input has-background-light is-medium" type="text" placeholder="Enter task description...">
      <input #taskStartInput value = "{{ task.startTime }}" class="input has-background-light is-medium" type="datetime-local" placeholder="Enter task start date...">
      <input #taskEndInput value = "{{ task.endTime }}"class="input has-background-light is-medium" type="datetime-local" placeholder="Enter task description...">
      <br><br>
      <div class="buttons is-right">
        <button class="button is-medium is-rounded" routerLink="/">Cancel</button>
        <button class="button is-primary has-text-white is-medium is-rounded" (click)="updateTask(taskTitleInput.value, taskDesInput.value, taskStartInput.value, taskEndInput.value)">Save</button>
        <input class="button is-medium is-rounded" id="btnPrint" type="button" value="PRINT" onclick="window.print();" />
      </div>

    </div>
  </div>

